@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Rubik+Vinyl&family=Tourney:ital,wght@0,100..900;1,100..900&display=swap');
.student-card-show-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
    gap: 1rem;
    padding: 1rem;
    @apply place-items-center justify-items-center;
  }

  .center-absolute {
    top: 50%;
    left: 50%;
    translate: -50% -50%;
  }